apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "server.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "server.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          stdin: true 
          tty: true
          volumeMounts:
          - name: {{ .Values.storage.volume | default (printf "%s-volume" (include "server.fullname" .)) }}
            mountPath: /config
          env:
          - name: LICENCE_KEY
            value: {{ .Values.licencekey }}
          {{- with .Values.subdir }}
          - name: SUBDIR
            value: {{ . }}
          {{- end }}
          {{- if .Values.config_args }}
          - name: NO_DEFAULT_CONFIG
            value: "true"
          - name: CONFIG_ARGS
            value: {{ .Values.config_args }}
          {{ end }}
          ports:
            - name: http
              containerPort: 40120
              protocol: TCP
            - name: tcp
              containerPort: 30120
              protocol: TCP
            - name: udp
              containerPort: 30120
              protocol: UDP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{ if .Values.sync.enabled -}}
        - name: {{ printf "%s-sync" .Chart.Name }}
          image: "{{ .Values.sync.repository }}:{{ .Values.sync.tag | default .Chart.AppVersion }}"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          volumeMounts:
          - name: {{ printf "%s-ssh-key" (include "server.fullname" .) }}
            readOnly: true
            mountPath: "/etc/secrets-mount"
          - name: {{ .Values.storage.volume | default (printf "%s-volume" (include "server.fullname" .)) }}
            mountPath: /tmp/git
          env:
          - name: GIT_SYNC_REPO
            value: {{ .Values.sync.repo }}
          - name: GIT_SYNC_BRANCH
            value: {{ .Values.sync.branch }}
          {{- with .Values.sync.root }}
          - name: GIT_SYNC_ROOT
            value: {{ . }}
          {{- end }}
          {{- with .Values.sync.dest }}
          - name: GIT_SYNC_DEST
            value: {{ . }}
          {{- end }}
          {{- with .Values.sync.username }}
          - name: GIT_SYNC_USERNAME
            value: {{ . }}
          {{- end }}
          {{- with .Values.sync.password }}
          - name: GIT_SYNC_PASSWORD
            value: {{ . }}
          {{- end }}
          {{- if .Values.sync.debug }}
          - name: DEBUG
            value: "true"
          {{- end }}
        {{- end }}
      volumes:
      - name: {{ .Values.storage.volume | default (printf "%s-volume" (include "server.fullname" .)) }}
      {{- if .Values.storage.emptyDir }}
        emptyDir: {}
      {{- else if .Values.storage.path }}
        hostPath:
          path: {{ .Values.storage.path }}
      {{- else }}
        persistentVolumeClaim:
          claimName: {{ include "server.fullname" . }}
      {{- end }}
      - name: {{ printf "%s-ssh-key" (include "server.fullname" .) }}
        secret:
          secretName: {{ .Values.sync.sshKey }}
          defaultMode: 0400
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
