{{- if not .Values.storage.emptyDir }}
kind: {{ .Values.storage.type }}
{{ end }}
apiVersion: v1
metadata:
  name: {{ include "server.fullname" . }}
spec:
{{- if .Values.storage.class }}
  storageClassName: {{ .Values.storage.class }}
{{ end }}
  accessModes:
    {{- toYaml .Values.storage.accessModes | nindent 4 }}
  {{- if eq .Values.storage.class "manual" }}
  hostPath:
    path: "{{.Values.storage.path }}"
  capacity:
    storage: {{ .Values.storage.size }}
  {{ else }}
  resources:
    requests:
      storage: {{ .Values.storage.size }}
  {{ end }}
{{ end }}